/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2021. gada 22. febr., 17:21:05
    Author     : Jūlija
*/

body {
 background-image: url("sniegs.jpg");
 color: blue;
}